<% layout("/layouts/boilerplate")%> 
<div class="row">
      <div class="col-8 offset-2">
        <br> <br>
    <h3>Create a new listings</h3>
    <form action="/listings" method="post" noValidate class="needs-validation" enctype="multipart/form-data">
        <div  class="mb-3">
            <label for="title" class="form-lable">Title</label>
        <input name="listing[title]" placeholder="Add title" type="text" class="form-control" required/>
        <div class="valid-feedback">
            Looks good!
          </div>
    </div>
    <div class="mb-3">
        <label for="description" class="form-lable">Description</label>
        <textarea name="listing[description]"  type="text"class="form-control" required></textarea>
        <div class="invalid-feedback">
            Please enter short description
          </div>
    </div>
       
        <div class="mb-3"> 
            <label for="image" class="form-lable">Upload Listing image </label>
        <input name="listing[image]"  type="file"class="form-control"/>
    </div>

    <!-- price and country in line  we for price col4 and country col 8 -->
    <div class="row">
        <div  class="mb-3 col-md-4">
            <label for="price" class="form-lable">Price</label>
            <input name="listing[price]" placeholder="1200"class="form-control" required/>
            <div class="invalid-feedback">
                Price should valid
              </div>
        </div>
        <div  class="mb-3 col-md-8 ">
            <label for="country" class="form-lable">Country</label>
            <input name="listing[country]"placeholder="India" type="text" class="form-control "required/>
            <div class="invalid-feedback">
                Country  should valid
              </div>
        </div>
    </div>
    
    <div  class="mb-3">
        <label for="location" class="form-lable">Location</label>
        <input name="listing[location]" placeholder="enter location" type="text"class="form-control"required/>
        <div class="invalid-feedback">
            Location should valid
          </div>
    </div>
        <button class="btn btn-dark add-btn">Add</button>
        <br> <br>
    </form>
</div>
</div>  
<!-- listing[title] it is object it become key value [why we do this bcz when we extract variable in app.js it is simple way] -->